{% extends 'base.html.twig' %}

{% block title %}Review!{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('discuss') }}
{% endblock %}

{% block body %}
  <div id="discuss"></div>
{% endblock %}
