{% extends 'base.html.twig' %}

{% block title %}Geography - Game{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('game') }}
{% endblock %}

{% block body %}
  <div id="game"></div>
{% endblock %}
