{% extends 'base.html.twig' %}

{% block title %}Lobby{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('lobby') }}
{% endblock %}

{% block body %}
  <div id="lobby"></div>
{% endblock %}
